html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

h2 {
  padding: 50px 0;
  font-weight: 600;
  font-size: 42px;
  font-style: normal;
}

hr {
  background-color: rgba(195, 195, 195, 0.5);
  width: 80%;
}

.nav-style {
  margin: 0;
  padding: 0;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: #f7f7f7;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #f7f7f7;
}

.bg-blue {
  background-color: #31525c;
}

.river {
  height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('images/river.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  background-color: rgba(50, 48, 48, 0.2);
  border: 1px solid white;
  color: white;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#skills {
  padding-bottom: 25px;
}

#skills h2 {
  padding-bottom: 30px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 35px 0px;
  width: 100%;
}

.icon {
  margin: 5px;
  height: 128px;
  width: 128px;
  justify-self: center;
}

@media (max-width: 700px) {
  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projects {
  background: rgb(246, 246, 246);
  padding-bottom: 25px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 10px;
  margin-bottom: 25px;
  justify-content: center;
}

.project-wrap {
  justify-self: center;
  max-width: 350px;
  margin: 10px 0;
}

@media (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  padding-bottom: 5%;
}

.contact-icon {
  width: 100px;
  margin: 0 50px;
  height: auto;
}
@media (max-width: 650px) {
  .contact-icon {
    margin: 0;
  }
}

.contact-icon:hover {
  opacity: 0.8;
}
